
body {
  font-family: 'Roboto';
}

.page {
  width: 500px;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 8px 24px #00000055;
  background: white;
}

a {
  color: #05f;
}

button {
  background: #fff;
  border: 1px solid #05f;
  color: #05f;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.sidebar {
  width: 200px;
  left: 0;
  top: 0;
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  background: white;
  box-shadow: 0px 0px 24px #00000055;
}

.content {
  margin-left: 200px;
  height: 100%;
}

.dialog {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
