
body {
  font-family: 'Roboto';
}

.page {
  margin: auto;
  width: 500px;
  border-radius: 5px;
  padding: 32px;
  margin-top: 32px;
  box-shadow: 0px 8px 24px #aaa;
}

a {
  color: #05f;
}

button {
  background: #fff;
  border: 1px solid #05f;
  color: #05f;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
}

h1 {
  text-align: center;
}
